* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	color: #2d303b;
    background: #666;
}
.content {
    background: #FEFEFE;
}
html, p, nav, div, article {
	font-family: 'Trebuchet MS', Arial !important;
}
pre {
    padding: 0;
}
p {
	color: #2d303b;
}
a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: #616161;
}
a:hover {
	color:#E54028;
}
a:hover,
a:focus {
    text-decoration: underline;
}
a.pure-button:hover, a.pure-button:focus {
	color: inherit;
	text-decoration: none;
}
a.pure-button-primary:hover, a.pure-button-primary:focus {
	color: #fff;
}
p a {
	color:#7F1000;
}
h1 {
	font-family: 'Trebuchet MS', Arial !important;
	font-weight: 700; 
}
.center {
	text-align: center;
}
.red {
	color: #E54028;
}
.dark-red {
	color: #7F1000;
}
.thin-line {
	height: 1px;
	border: 0px;
	background: #eee;
}

/* Layout */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
#layout {
    padding: 0;
}
.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}
.content {
    padding: 1em 1em 0;
}

/* Sidebar */
h1.brand-title {
	font-family: 'Trebuchet MS', Arial !important;
	font-weight: 400;
	padding-top: 1rem;
	font-size: 3rem;
	margin-bottom: 0.25rem;
}
h2.brand-tagline {
	font-size: 1.4rem;
	margin-top: 0.25rem;
}
.sidebar h1.brand-title, h1.brand-title a {
	color: #FEFEFE;
	text-decoration:none;
}
.brand-tagline {
	font-family: 'Trebuchet MS', Arial !important;
	font-weight: 200;
	color: #C3D1EB;
	font-style: italic;
}
.sidebar {
	background: #3F7AB2;
}
.sidebar, .sidebar p {
	color: #FEFEFE;
}
.sidebar a {
  color: #fff;
}
.sidebar a:hover {
	color:#CC071E;
}

/* Nav */
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 1rem;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    color: #fff;
    margin-top: 1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.85rem;
    text-decoration: none;
    margin-right: 0.1rem;
    line-height: 1.5rem;
}
.nav-item a:hover,
.nav-item a:focus {
    text-decoration: none;
}
.nav-item-separator {
	font-weight: 100;
	font-family: 'Trebuchet MS', Arial !important;
	color: #CC071E;
	letter-spacing: -0.35rem;
	margin-right: 0.4rem;
}

/* Nav To Top */
#nav-to-top {
	display: none;
	position: fixed;
	right: 0;
	top: 10px;
	padding: 0.5rem 1.5rem 0.5rem 0.5rem;
	font-size: 0.85rem;
	background: #fff;
}

/* Posts */
h1.post-title a {
	text-decoration: none;
	color: #CC071E;
}
.post-date {
	color: #CC071E;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 1.0rem;
	display: inline;
}
.post-date-day {
	font-size: 1.5rem;
	margin-right: -0.2rem;
}
.post-date-separator {
	font-family: 'Trebuchet MS', Arial !important;
	font-weight: 100;
	letter-spacing: -0.35rem;
	font-size: 1.9rem;
	color: #7F1000;
}
.post-date-month {
	font-size: 0.8rem;
	color: #7F1000;
}
.post-date-year {
	font-size: 0.8rem;
	color: #7F1000;
}
a.post-author {
	font-size: 0.9rem;
	font-style: italic;
}
.post-author-single {
	font-size: 0.9rem;
}
.post {
    padding-bottom: 1rem;
    line-height: 1.75rem;
	background: #f9f9f9;
	padding-left: 1rem;
	padding-right: 1rem;
}
.post p {
	margin-bottom: 1.75rem;
	margin-top: 0;
}
.post h3 {
	margin-bottom: .25rem;
	font-size: 1.4rem;
	color: #7F1000;
	font-weight: 500;
}
.post h3.post-subtitle {
	font-weight: 200;
	color: #999;
}
.post table {
    margin-bottom: 1.75rem;
    margin-top: 0;
}
.post-title {
    font-size: 2rem;
    color: #CC071E;
    padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 0.25rem;
}
.post-subtitle {
	font-size: 1.5rem;
	margin: 0;
	font-weight: 200;
	font-family: 'Trebuchet MS', Arial !important;
	color: #999;
}
.post-reading-time {
	display: inline;
	font-size: 0.65rem;
	color: #aeaeae;
}
.post-avatar-wrapper {
	width: 50px;
	height: 50px;
	border-radius: 50px;
    overflow: hidden;
    margin-left: 1rem;
    float: right;
}
.post-avatar {
    height: 50px;
}
.post-summary {
	margin-top: 0.5rem;
}
.read-more-link {
	float: right;
	clear: left;
	margin-top: 0.25rem;
}
.read-more-link a {
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-weight: 400;
	font-size: 0.9rem;
	color: #7F1000;
}
.read-more-link a:hover, .read-more-link a:focus {
	color: #CC071E;
}
.read-more-slashes {
	font-weight: 100;
	font-family: 'Trebuchet MS', Arial !important;
	color: #CC071E;
	letter-spacing: -0.26rem;
	margin-right: 0.3rem;
}

.post-description {
    color: #444;
    line-height: 1.8rem;
}
.post-meta {
    color: #2d303b;
    font-size: 90%;
    margin: 0;
}
.post-meta a {
	color: #616161;
}
.post-meta a:hover {
	color: #CC071E;
}
.post-categories {
	clear: left;
	padding-top:0;
	padding-bottom: 1em;
}
.post-category {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #fff;
    background: #999;
    font-size: 0.75rem;
}
a.post-category {
	text-decoration: none;
	color:#333;
}
a.post-category:hover {
	text-decoration: underline;
	color:#000;
}

/* Tags */
.tags-list {
	clear: left;
	margin-bottom: 0.75rem;
	font-size: 0.85rem;
	color: #999;
	display:inline-block;
}


/* Decorative Marker */
.decorative-marker {
	color: #CC071E;
	letter-spacing: -0.25rem;
	margin-right: 0.4rem;
	margin-lefT: 0.1rem;
}

/* Paging */
.paging {
	margin-bottom: 0.75rem;
}
.paging, .paging-older, .paging-newer {
	clear: left;
	font-size: 0.85rem;
}
.paging-older, .paging-newer {
	margin-bottom: 0.25rem;
}
.paging-label {
	color: #999;
	font-style: italic;
}



/* Footer */
.footer {
    text-align: center;
    padding: 1rem 0;
    font-weight: 100;
    color: #aeaeae;
    font-size: 0.7rem;
}
.footer a, .footer p {
	color: #aeaeae;
}
.footer a {
	text-decoration: none;
}
.footer a:hover {
	color:#CC071E;
	text-decoration: underline;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}
ul.footer-menu {
	list-style: none;
	display: block;
	text-align:center;
	margin: 0;
	padding: 0;
}
.footer-menu li {
	display: inline-block;
	margin-right: 0.5rem;
	font-size: 0.8rem;
}
hr.thin, hr {
	height: 1px;
	border: 0;
	color: #CC071E;
	background-color: #CC071E;
	width: 90%;
}
.content, body, html, div {
    top:0;
    margin:0;
    padding:0;
    display:block;
}
    
@media (max-width: 1024px) {
	h1.brand-title {
		font-size: 2.5rem;
	}
	h2.brand-tagline {
		font-size: 1.1rem;
	}
    #toc {
        background:#42ABF4;
        width:100%;
        top:0;
    }
    #toc li, #toc a{
        list-style: none;
        display: inline-block;
        color:#000;
    }
    #toc h3 a, #toc p {
        display:none;
    }
    .content {
        width:100%;
        top:0;
    }
}

@media (min-width: 48rem) {
	.content {
        padding: 0rem 2rem 0;
        margin-left: 15%;
        margin-right:15%;
		margin-top:0;
    }

    .header {
        margin: 25% 2rem 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
		width:15%;
    }
    /* ToC */
    #toc {
        padding: 0 1rem 1rem 1rem;
        background:#3F7AB2;
        position: fixed;
        top: 0;
        bottom: 0;
        width:15%;
        left:85%;
        display:inline-block;
    }
    #toc h3 a {
        color:#FEFEFE;
        padding:0;
    }
    #toc p {
        color:#C3D1EB;
        font-style: italic;
        margin:0;
    }
    nav#TableOfContents li, nav#TableOfContents a {
        padding-bottom: 0.25rem;
        color:#C3D1EB;
    }
    nav#TableOfContents ul:first-child {
        padding-left: 0px;

        list-style: none;
    }
    .toc-label {
        font-size: 0.8rem;
        color: #aeaeae;
    }
    .content {
        position:absolute;
        width:70%;
        top:0;
    }
}


#seance table{
	border-collapse: collapse;
	border: 0.1em solid #3F7AB2;
}

#seance th.you-dark, #seance th.me-dark,
#planning th.dark {
	background-color:#3F7AB2;
	color:#FEFEFE;
}

#seance td.you-dark, #seance td.me-dark,
#planning td.dark {
	background-color:#C3D1EB;

}
#seance th.you-light, #seance th.me-light,
#planning th.light  {
	background-color:#42ABF4;
	color:#FEFEFE;
}

#seance td.you-light, #seance td.me-light,
#planning td.light {
	background-color:#D5DDEB;
}
#planning li {
    list-style:none;
}



#seance td{
	padding: 0.5em;
	border-left: 0.1em solid #3F7AB2;
	border-right: 0.1em solid #3F7AB2;
	
}
#seance li{
	list-style-position: inside;
	padding-top:0.4rem;
	padding-bottom:0.4rem;
	line-height: 0.9rem;
}

.post-header {
	border-bottom: 0.1rem solid #CC071E;
	margin-bottom: 0;
	padding-bottom:0;
	line-height:2.25rem;
}

.post-meta img{
	vertical-align:middle;
}

span.post-niveaux {
	display: inline-block;
	float:right;
}
span.post-niveaux a.post-category {
	color: #000;
}
