<table>
<tr>
    <th class="you-dark">Pr&eacute;-requis</th>
    <td class="you-dark">
      {{range index .Params.seance "00_prereq"}}
        {{if .}}<li>{{ . }}</li>{{end}}
      {{ end }}
    </td>
    <td class="me-dark">
      {{range index .Params.seance "01_orga"}}
        {{if .}}<li>{{ . }}</li>{{end}}
      {{ end }}
    </td>
    <th class="me-dark">Orga</th>
</tr>
<tr>
    <th class="you-light">But</th>
    <td class="you-light">{{index .Params.seance "02_but"}}</td>
    <td class="me-light">{{index .Params.seance "03_objectif"}}</td>
    <th class="me-light">Objectif</th>
</tr>
<tr>
    <th class="you-dark">R&eacute;ussite</th>
    <td class="you-dark">
      {{range index .Params.seance "04_reussite"}}
          {{if .}}<li>{{ . }}</li>{{end}}
      {{ end }}
    </td>
    <td  class="me-dark">
      {{range index .Params.seance "05_evaluation"}}
        {{if .}}<li>{{ . }}</li>{{end}}
      {{ end }}
    </td >
    <th class="me-dark">Evaluation</th>
</tr>
<tr>
    <th class="you-light">Consignes</th>
    <td class="you-light">
      {{range index .Params.seance "06_consignes"}}
        {{if .}}<li>{{ . }}</li>{{end}}
      {{ end }}
    </td>
    <td class="me-light">
      {{range index .Params.seance "07_securite"}}
        {{if .}}<li>{{ . }}</li>{{end}}
      {{ end }}
    </td>
    <th class="me-light">S&eacute;curit&eacute;</th>
</tr>
<tr>
    <th rowspan=2 class="you-dark">Didactique</th>
    <td class="you-dark">
      {{range index .Params.seance "08_didac" "plus"}}
        {{if .}}<img class="bullet" src="{{ $.Site.BaseURL }}/img/plus.svg"/> {{ . }}<br/>{{end}}
      {{ end }}
    </td>
    <td  class="me-dark">
      {{range index .Params.seance "09_meteo" "plus"}}
        {{if .}}<img class="bullet" src="{{ $.Site.BaseURL }}/img/plus.svg"/> {{ . }}<br/>{{end}}
      {{ end }}
    </td>
    <th rowspan=2 class="me-dark">MTO</th>
</tr>
<tr>
    <td class="you-light">
        {{range index .Params.seance "08_didac" "moins"}}
          {{if .}}<img class="bullet" src="{{ $.Site.BaseURL }}/img/minus.svg"/> {{ . }}<br/>{{end}}
        {{ end }}
    </td>
    <td  class="me-light">
      {{range index .Params.seance "09_meteo" "moins"}}
        {{if .}}<img class="bullet" src="{{ $.Site.BaseURL }}/img/minus.svg"/> {{ . }}<br/>{{end}}
      {{ end }}
    </td>

</tr>
</table>
