{{ partial "header.html" . }}
<body>
  <div id="toc">
    <h3><a href="#">{{ .Title | humanize }}</a></h3>
    <span>Table des matières </span>
    <nav id="TableOfContents">
      <ul>
        {{ range .Data.Pages.GroupBy "Section" }}
        <li><a href="#{{.Key | urlize}}">{{ .Key| humanize}}</a>
          <ul>
            {{ range .Pages.ByTitle }}
              <li>
                <a href="{{ .RelPermalink }}">{{ .Title | humanize}}</a>
              </li>
            {{ end }}
          </ul>
        </li>
      {{ end }}
    </ul>
  </nav>
</div>

      <div id="layout">
        {{ partial "sidebar.html" . }}
        <div id="content">
          <div class="posts">
            {{ range .Data.Pages.GroupBy "Section" }}
            <h1 class=screen id="{{.Key | urlize}}">
              {{ .Key| humanize}}
            </h1>
              {{ range .Pages.ByTitle }}
                  <section  class="post">
                      <div class="screen">
                        <div class="post-header">
                          <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title | humanize}}</a>{{partial "niveaux.html" . }}</h2>
                        </div>
                        {{ .Render "short" }}
                      </div>
                      <div class="print">
                        {{ .Render "single_embedded" }}
                      </div>
                      {{ partial "closingLine.html" . }}
                  </section>
              {{ end }}
            {{ end }}
        </div>
        {{ partial "footer.html" . }}



      </div>
    </div>
    {{ partial "bodyend.html" . }}
</body>
</html>
