{{ partial "header.html" . }}
<body>
    <div id="layout">
        {{ partial "sidebar.html" . }}
        <div id="content">
			<h1 class="post-title">
			  {{ .Data.Plural | humanize}}
			  
			</h1>    
			
			<div class="posts">
                {{ range $key, $value := .Data.Terms.ByCount }}
					<p><a href="{{ $value.Name | urlize }}">{{ $value.Name |humanize }}</a>({{ $value.Count }})</p>
				{{ end }}

			</div>
        {{ partial "footer.html" . }}
        </div>
    </div>
    {{ partial "bodyend.html" . }}
</body>
</html>