a.post-category {
	background-color: #42ABF4;
	color:#000;
}
a.post-category-niveau-1{
	background-color: #FFDD00;
}
a.post-category-niveau-2{
	background-color: #FDB813;
}
a.post-category-niveau-3{
	background-color: #A5CE39;
}
a.post-category-niveau-4{
	background-color: #42ABF4;
}
a.post-category-niveau-5{
	background-color: #CD86B9;
}
span.post-niveaux a.post-category-section{
	background-color: transparent;
    color:#CC071E;
}
a.post-category-previsionnel{
	background-color: #C3D1EB;
}
