{{ partial "doctype.html" . }}
<head>
  <title>
    {{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}
  </title>

  {{ partial "meta.html" . }}


  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/voile.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/print.css" media="print" />
  
  <!-- Icons -->
  
  <!-- RSS -->
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  
  {{ if .Site.Params.categoriescss }}
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/{{ .Site.Params.categoriescss }}" media="screen">
  {{ end }}
</head>
