{{ partial "doctype.html" . }}
<head>
  <title>
    {{ .Title | humanize }}{{ if ne .Title .Site.Title }}[{{ .Site.Title }}]{{ end }}
  </title>

  {{ partial "meta.html" . }}

  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/img/favicon.png" />
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/voile.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/print.css" media="print" />
  {{ if .Site.Params.categoriescss }}
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/{{ .Site.Params.categoriescss }}" media="screen">
  {{ end }}

  <!-- Icons -->

  <!-- RSS -->
    {{ if .RSSLink}}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{end}}


</head>
