<div id="sidebar">
	<div class="header">
		<h1 class="brand-title"><a href="{{ .Site.BaseURL }}">{{ if .Site.Params.sidebartitle }}{{ .Site.Params.sidebartitle }}{{else}}Home{{ end }}</a></h1>
		{{ if .Site.Params.sidebartagline }}<h2 class="brand-tagline">{{ .Site.Params.sidebartagline }}</h2>{{ end }}
	</div>
	<nav class="nav">
		  <ul class="nav-list" id="sections">
			{{ range $k, $v := .Site.Sections }}
				<li class="nav-item" id="{{$k}}"><a href="{{ $k | absURL}}"><img src="{{ $.Site.BaseURL }}/img/index/{{$k}}.svg" alt="{{ $k  | pluralize }}"/></a></li>
			{{ end }}
			</ul>
			<h3>Niveaux FFV</h3>
     	<ul class="nav-list" id="niveaux">
        {{ range $key, $value := .Site.Taxonomies.niveaux }}
            <li class="nav-item post-category post-category-{{ $key | urlize }}"><a href='{{ "/niveaux/" | relURL }}{{ $key | urlize }}'>{{ replaceRE "niveau-" "" $key  }}</a></li>
        {{ end }}
      </ul>

			<ul class="nav-list" id="previsionnels">
					<h3><a href='{{ "/previsionnels/" | relURL }}'><img src="{{ .Site.BaseURL }}/img/index/planning.svg" alt="Prévisionnels"/></a></h3>
					{{ range $key, $value := .Site.Taxonomies.previsionnels }}
						<li class="nav-item"><a href='{{ "/previsionnels/" | relURL }}{{ $key | urlize }}'>{{ $key | humanize }}</a></li>
					{{ end }}
			</ul>
			<br/>
			<h3>Catégories de compétences FFV</h3>
      <ul class="nav-list" id="previsionnels">
            {{ range $key, $value := .Site.Taxonomies.categories }}
                <li class="nav-item"><a href='{{ "/categories/" | relURL }}{{ $key | urlize }}'>{{ $key | humanize }}</a></li>
            {{ end }}
      </ul>

				<br/>
				<br/>
				<hr/>
        <br/>

        <span class="tags-list">
            {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.tags }}
              <a href='{{ "/tags/" | relURL}}{{ $taxonomyname | urlize }}'>{{ $taxonomyname | humanize }}</a>
            {{ end }}
            <a href='{{ "/tags/" | relURL }}'>...</a>
        </span>
				<br/>
				<br/>

        <span class="tags-list">

            {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.postes }}
              <a href='{{ "/postes/" | relURL}}{{ $taxonomyname | urlize }}'>{{ $taxonomyname | humanize }}</a>
            {{ end }}
            <a href='{{ "/postes/" | relURL }}'>...</a>
        </span>

    </nav>
	<span id='apropos'><a href='{{ .Site.BaseURL }}#about' class="screen">A propos de ce site</a></span>
</div>
