{{ partial "header.html" . }}
<body>
{{ partial "sidebar.html" . }}
{{ partial "toc.html" . }}
<div class="seance" id="content">

	<div class="post-header">
		<h1 id="title" class="post-title"><a href={{ .RelPermalink }}>{{ .Title }}</a>{{partial "niveaux.html" . }}</h1>
		
	</div>
		{{partial "categories.html" . }} 
	<div>
    {{ .Render "table"}}
	{{ .Content }} 	
		
	{{ partial "closingLine.html" . }} 
	{{ partial "footer.html" . }} 
 </div>
 {{ partial "bodyend.html" . }}
<body>
 
</div>
</html>