{{ partial "header.html" . }}
<body>
{{partial "sidebar.html" . }}
    <div id="layout">
        <div id="content">
            {{ range .Data.Pages }}
              <div class="seance">
                <h1 class="title"><a href={{ .RelPermalink }}>{{ .Title | humanize }}</a><p>{{ .Section | humanize }} {{range .Params.niveaux}}{{.}}{{end}}</p></h1>

                {{ .Render "table"}}

              </div>
              <br/>
            {{end}}
        {{ partial "footer.html" . }}
        </div>
    </div>
    {{ partial "bodyend.html" . }}
</body></html>
