{{ partial "header.html" . }}
<body>
{{partial "sidebar.html" . }}
    <div id="layout">
        <div id="content">
            {{ range .Data.Pages }}
            <div class="seance">
                <table><tr><th class="title"><h1><a href={{ .RelPermalink }}>{{ .Title }}</a></h1></th><td class="desc">{{ .Section | humanize }} {{range .Params.niveaux}}{{.}}{{end}}</td></tr>
                <tr><td class="discret" colspan=2>{{ .Render "table"}}</td></tr>
                <tr><td colspan=2>{{ .Content }}</td></tr></table>
            </div>
            <br/>
            {{end}}

        {{ partial "footer.html" . }}
        </div>
    </div>
    {{ partial "bodyend.html" . }}
</body></html>
